<!DOCTYPE html>



<h2>Demo | v.1.4.0</h2>

<p>Write the following to the DITA database. dfskjdfkj</p>

<p><%= @id_val %> </p>

<p><%= @title %> </p>
<p><%= @form_name %> </p>
<p><%= @short_desc %> </p>
<p><%= @text1n %> </p>
<p><%= @text2n %> </p>
<p><%= @text3n %> </p>
<p><%= @text4n %> </p>
<p><%= @text5n %>  </p>
<p><%= @file1n %> </p>
<p><%= @file2n %> </p>
<p><%= @category1 %> </p>
<p><%= @category2 %> </p>


